.oklch {
    background-color: oklch(0.57 0.1363 311.03);
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.oklab {
    background-color: oklab(67% 0.130 0.068);
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.hwb {
    background-color: hwb(135 9% 56% / 0.877);
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
