@keyframes aparecer {
    from { opacity: 0; transform: translateY(50px);}
    to { opacity: 1; transform: translateY(0);}
}

.espaciador {
    height: 100vh;
}

.texto {
   font-size: 2rem;
   text-align: center;
   opacity: 0;
   
   /* Creacion de la linea temporal (timeline) */
   view-timeline-name: --aparecer-timeline;
   view-timeline-axis: block;
   
   /* Asociar la animacion con el timeline */
   animation-timeline: --aparecer-timeline;
   animation-name: aparecer;

   animation-range: entry 10% cover 30%;

   animation-fill-mode: both;
}