:root {
    --color-principal: blue;
    --color-secundario: green;
    --tamano-grande: 2rem;
    --tamano-pequeno: 1rem;
    --fuente-titulo : 'Arial', sans-serif;
    --fuente-parrafo : 'Georgia', serif;
}

h1 {
    color: var(--color-principal);
    font-size: var(--tamano-grande);
    font-family: var(--fuente-titulo);
}

p {
    color: var(--color-secundario);
    font-size: var(--tamano-pequeno);
    font-family: var(--fuente-parrafo);
}